<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Image Uploading</title>
    <style type="text/css">
        body { background-color: #D8D8D8;color: #444;}
        h1 {font-weight: bold;text-align: center;}
        header { padding: 50px 10px; color: #fff; font-size :15px; text-align:right;}
         p { margin-bottom :20px;  margin-left: 20px;}
         footer {text-decoration: overline; margin-top: 300px}
         div { width:100%; background:#c1a8fc;position:static; top:0;left:0;}
         .just
         {
            text-align: center; 
        
         }
         img {
             height: 200px; width:200px;
         }
     
        </style>
        
</head>
 
<body>
    <h1>To Upload Image on mongoDB</h1>
    <hr>
    <div>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div>
                <label for="title"> Title</label>
                <input type="text" id="title" placeholder="Title"
                       value="" name="title" required>
            </div>
            <div>
                <label for="content">Content</label>
                <textarea id="content" name="content" value="" rows="2"
                          placeholder="Content" required>
                </textarea>
            </div>
            <div>
                <label for="image">Upload Image</label>
                <input type="file" id="image"
                       name="image" value="" required>
            </div>
            <div>
                <button type="submit">Submit</button>

               
            </div>
        </form>
        <form action="/delete" method="POST" enctype="multipart/form-data">
            <div>

                <button type="submit">Delete All</button>
            </div>
        </form>
       
    </div>
    

    
      <div class="row">
        <% items.forEach(function(image) { %>
            <div class="col-4">
            <div class="row">
              <div class="col-6">
              <div class="card-header">
              <h5><%= image.title %></h5>
              </div> </div>
              <div class="col-3">
                <a href="//api.whatsapp.com/send?text=This is WhatsApp sharing example using link"   data-action="share/whatsapp/share"  
                target="_blank"> Share </a>   
               </div>
             </div>
           <img class="card-img-top" src="data:image/<%=image.img.contentType%>;base64,
                         <%=image.img.data.toString('base64')%>">
          <div class="card-body">
          <p><%= image.content %></p>
         </div>
         <form action="/deleteSpecific" method="POST" >
                 <button type="submit" name="deleteNote" onChange="this.form.submit()" value="<%=image._id%>" class="btn btn-danger">delete</button>
        </form>
         
        <form action="/edit" method="POST" >
            <button type="submit" name="edit" value="<%=image._id%>" class="btn btn-dark">Edit</button>
        </form>
        </div>
        <% }) %>
    </div>
</body>
 
</html>